<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #ddd;
}
</style>



<div>
  <div class="post-meta">
    <%= User.find(post.user_id).name %><br>
  </div>
  <% if post.image.attached? %>
      <%= link_to image_tag(post.image,class: "img-fluid"),post %>
  <% end %> 
</div>


</html>
