<p style="color: green"><%= notice %></p>

<style>
  div{
    text-align:center;
  }
</style>

<div class="jumbotron" style="color: brown">
  <h1>Instagram Clone</h1>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
  <%= link_to "New post", new_post_path %>
</div>